body{margin:0;font-family:Verdana, Arial, Sans-serif;font-size:10px;background-color:#131416;}
td a{color:#025baf;text-decoration:none;}
a:focus{-moz-outline:0px solid lime;outline:0px solid lime;outline-offset:0px;}
div a{color:#025baf;text-decoration:none;}
#main{background-color:white;}
#header{min-width:984px;height:219px;background:url(images/header.png) 0 0 repeat-x #131416;}
#ban{position:absolute;top:2px;width:984px;height:110px;margin:auto;}
#b-top{height:219px;position:relative;z-index:120;background:transparent url(images/b-top.png) repeat-x scroll bottom left;}
#c-center{height:96px;padding-top:125px;width:984px;margin:auto;background:transparent url(images/c-center.png) no-repeat scroll bottom center;position:relative;z-index:200;}

#nav{position:absolute;top:130px;margin:0 0 0 30px;}
#content{width:928px;z-index:100;padding:12px 28px 0 28px;margin:-9px auto 0 auto;background:transparent url(images/hash.png) repeat-y scroll 0 0;}
#b-bottom{height:80px;margin-top:-40px;background:transparent url(images/b-bottom.png) repeat-x scroll bottom left;}
#bottom{height:80px;width:984px;margin:auto;position:relative;z-index:200;background:transparent url(images/bottom.png) no-repeat scroll bottom center;}
#buttons{width:411px;height:32px;top:129px;float:left;margin-top:-3px;margin-left:4px;}
#buttons a{background:transparent url(images/buttons.png) no-repeat scroll 0 0;color:white;display:block;float:left;text-decoration:none;width:105px;height:24px;text-align:center;font-weight:normal;padding-top:9px;margin:0 0 0 0px;}
a#bt1{background-position:0 0;width:101px;}
a#bt2{background-position:-102px 0;}
a#bt3{background-position:-206px 0;}
a#bt4{background-position:-311px 0;width:100px;}
a#bt1:hover{background-position:0 -70px;}
a#bt2:hover{background-position:-102px -70px;}
a#bt3:hover{background-position:-206px -70px;}
a#bt4:hover{background-position:-311px -70px;}
a#bt1.active{background-position:0 -64px;}
a#bt2.active{background-position:-102px -64px;}
a#bt3.active{background-position:-206px 64px;}
a#bt4.active{background-position:-311px 64px;}
form.header{margin:6px 0 0 0;float:left;}
form.header label{font-size:9px;color:white;display:block;float:left;}
form.header input{width:80px;height:16px;background:transparent url(images/input.png) no-repeat scroll 0 0;border:none;font-size:9px;color:white;display:block;float:left;margin-right:3px;}
form.header input.submit{background:transparent url(images/button.png) no-repeat scroll 0 0;width:60px;height:16px;}
.colog{margin:6px 0 0 0;float:left;width:325px;color:#7b7c7e;}
.colog a{color:#7b7c7e;text-decoration:none;}
.colog a:hover{color:white;}
form#login{width:325px;}
form#search input#keywords{width:118px;height:16px;margin-left:5px;background:transparent url(images/input-search.png) no-repeat scroll 0 0;}
form#search{}
#misc{position:absolute;width:922px;top:170px;height:20px;margin:0 0 0 32px;}
#misc, #misc a{color:#7b7c7e;text-decoration:none;}
#misc a:hover{color:white;}
#misc #links{float:right;}
#misc #dateContent{float:left;}
#blocks-right{color:#000000;width:204px;float:right;}
#blocks-right a{color:#025baf;}
#blocks-left{color:#000000;width:234px;float:left;}
#blocks-left a{color:#025baf;}
#blocks-center{width:487px;float:left;margin-left:1px;}
#blocks-center1{width:691px;float:left;margin-left:1px;}
#blocks-center2{width:925px;margin-left:1px;}
.block.left{background:transparent url(images/block-left-middle.png) repeat-y scroll 0 0;}
.block.left div.top{background:transparent url(images/block-left-top.png) no-repeat scroll 0 0;}
.block.left div div.bottom{padding:3px 3px 7px 3px;background:transparent url(images/block-left-bottom.png) no-repeat scroll bottom left;}
.block.right{background:transparent url(images/block-right-middle.png) repeat-y scroll 0 0;}
.block.right div.top{background:transparent url(images/block-right-top.png) no-repeat scroll 0 0;}
.block.right div div.bottom{padding:3px 3px 7px 3px;background:transparent url(images/block-right-bottom.png) no-repeat scroll bottom left;}
.block.center{margin-top:-2px;background-color:#131416;}
.block.center div.top{background:transparent url(images/block-center-top.png) no-repeat scroll 0 -4px;}
.block.center div div.bottom{padding:3px 3px 7px 3px;background:transparent url(images/block-center-bottom.png) no-repeat scroll bottom left;}
.block.center.first{margin-top:0;}
.block.center.first div.top{background-position:top left;}
.block.center.first h2{margin-top:5px;}
.block h2{margin:4px auto 7px 0;text-align:center;font-size:11px;color:#0077ed;}
.block.left h2{color:white;margin-bottom:12px;}
.block.center h2{text-align:left;padding:0 2px 0 10px;margin-top:0px;}
.copyright{text-align:center;}
.copyright1{height:52px;}
#open1cc{margin:auto;width:930px;height:64px;background:url(images/titreforum.png) no-repeat;}
#open1cc h2,#open1ss h2{padding-top:5px;margin:0;text-align:center;font-size:14px;color:#ffffff}
#open2ss{padding:5px}
#open2cc{padding:5px;width:920px;background:url(images/centreforum.png) repeat-y}
#open3cc{width:930px;height:25px;background:url(images/footerforum.png) no-repeat}
#open1ss{width:695px;height:29px;background:url(images/centretitre.png) no-repeat}
.open1nn{margin:auto;width:487px;height:4px;background:url(images/newsstitre.png) no-repeat;}
#site{margin:auto;width:932px;background:url(images/site.png) repeat-y;color:#ffffff;}
#site a{color:#025baf;}
#site1{margin:auto;width:932px;background:url(images/site1.png) repeat-y;color:#ffffff;}
#site1 a{color:#025baf;}
.dbsite{height:5px;}
#open2nn{width:473px;margin-left:6px;color:#ffffff;}
#ban h1{font-size:24px;margin-top:40px;margin-left:140px;text-align:center;color:#2fa1d5;}
