/* Forum category list */
table#forumCatList .cNom{width:50%;}
table#forumCatList .cOrdre{width:10%;}
table#forumCatList .nkListEdit,
table#forumCatList .nkListDelete{width:10%;}
table#forumCatList td.cNom,
table#forumCatList td.cOrdre{text-align:center;}

/* Forum category form */
#catImgPreview{max-width:100%;height:auto;}

/* Forum list */
table#forumList .fNom,
table#forumList .fCatName,
table#forumList .fNiveau,
table#forumList .fLevel{width:20%;}
table#forumList .nkListEdit,
table#forumList .nkListDelete{width:10%;}
table#forumList td.fCatName,
table#forumList td.fNiveau,
table#forumList td.fLevel{text-align:center;}

/* Forum form */
#forumImgPreview{margin-left:20px;width:50px;height:50px;vertical-align:middle;}

/* Forum rank list */
table#forumRankList .rNom,
table#forumRankList .rType{width:25%;}
table#forumRankList .rPost{width:20%;}
table#forumRankList .nkListEdit,
table#forumRankList .nkListDelete{width:15%;}
table#forumRankList td.rNom,
table#forumRankList td.rType,
table#forumRankList td.rPost{text-align:center;}


#rankImgPreview{margin-left:4px;}

/* Forum setting form */
form#editForumSettingForm>div.nkForm_container>label{width:86%;}