html{font-size:100%;margin-bottom:1px}
body{margin:0 auto;font-family:Arial,Helvetica,sans-serif;color:#555;font-size:12px;background:url('../images/bg-body.gif') repeat-y top left #f0f0f0;height:100%}
#Frame{background:url('../images/bg-body.gif') top left repeat-y #f0f0f0;}
#body-wrapper{background:url('../images/bg-radial-gradient.gif') 230px top no-repeat}
h1,h2,h3,h4,h5,h6{font-family:Helvetica,Arial,sans-serif;color:#222;font-weight:bold}
h1{font-family:Calibri,Helvetica,Arial,sans-serif;font-size:31px;font-weight:bold;color:#fff;position:absolute;top:-1000px}
h2{font-size:26px;padding:0 0 10px 0}
h3{font-size:17px;padding:0 0 10px 0}
h4{font-size:16px;padding:0 0 5px 0}
h5{font-size:14px;padding:0 0 5px 0}
h6{font-size:12px;padding:0 0 5px 0}
a{color:#57a000;text-decoration:none}
a:hover{color:#000}
a:active{color:#777}
a:focus{outline:1px}
strong{font-weight:bold;color:#333}
small{font-size:.85em}
pre{font-family:monospace}
p{padding:5px 0 10px 0;line-height:1.6em}
.clear{clear:both}
.align-left{float:left}
.align-right{float:right}
.button{font-family:Verdana,Arial,sans-serif;display:inline-block;background:#459300 url('../images/bg-button-green.gif') top left repeat-x!important;border:1px solid #459300!important;padding:4px 7px 4px 7px!important;color:#fff!important;font-size:11px!important;cursor:pointer}
.button:hover{text-decoration:underline}
.button:active{padding:5px 7px 3px 7px!important}
a.remove-link{color:#b00}
a.remove-link:hover{color:#000}
#sidebar{background:url('../images/bg-body.gif') top left repeat-y;width:230px;position:absolute;left:0;top:0;color:#888;font-size:11px;}
#sidebar #sidebar-wrapper{margin:0 0 0 9px}
#sidebar a,#sidebar a:active{color:#ccc}
#sidebar a:hover{color:#fff}
#sidebar #sidebar-title{margin:40px 0 40px 15px}
#sidebar #logo{margin:10px 0 10px 52px}
#sidebar #profile-links{padding:0 15px 20px 15px;text-align:right;line-height:1.5em}
#sidebar #main-nav{width:206px;padding:0;margin:0 0 0 15px;font-family:Helvetica,Arial,sans-serif;}
#sidebar #main-nav li{list-style:none;padding-bottom:10px;text-align:right}
#sidebar #main-nav li a.nav-top-item{background:transparent url('../images/bg-menu-item-green.gif') right center no-repeat;padding:10px 15px;color:#fff;font-size:14px;cursor:pointer;display:block;text-decoration:none}
#sidebar #main-nav li a.current{background-image:url('../images/bg-menu-item-current.gif')!important;color:#333;font-weight:bold}
#sidebar #main-nav li a.current:hover{color:#333}
#sidebar #main-nav ul{padding:0;font-size:12px;margin:0}
#sidebar #main-nav ul li{list-style:none;margin:0;text-align:right;padding:0}
#sidebar #main-nav ul li a{padding:8px 15px;display:block;color:#aaa;font-size:13px;line-height:1.2em}
#sidebar #main-nav ul li a:hover,#sidebar #main-nav ul li a.current,#sidebar #main-nav ul li a.current:hover{color:#fff}
#sidebar #main-nav ul li a.current{background:transparent url('../images/menu-current-arrow.gif') right center no-repeat!important}
#messages p,#messages form{border-top:1px solid #ddd;padding:10px 0}
#messages h4{padding:10px 0}
#messages fieldset{margin:0}
#messages textarea{margin:0 0 15px 0}
#main-content{margin:0 30px 0 260px;padding:40px 0 0 0}
.column-left{width:48%;float:left}
.column-right{width:48%;float:right}
#page-intro{font-size:17px;padding:0 0 20px 0}
#footer{border-top:1px solid #ccc;margin:40px 0 0 0;padding:20px 0;font-size:12px}
#main-content ul,#main-content ol{padding:10px 0}
#main-content ul li{background:url('../images/icons/bullet_black.png') center left no-repeat;padding:4px 0 4px 20px}
#main-content ol{padding:0 0 0 24px}
#main-content ol li{list-style:decimal;padding:4px 0}
.content-box{border:1px solid #ccc;margin:0 0 20px 0;background:#fff}
.content-box-header{background:#e5e5e5 url('../images/bg-content-box.gif') top left repeat-x;margin-top:1px;height:40px;margin-bottom:10px}
.content-box-header h3{padding:12px 15px 10px;float:left}
ul.content-box-tabs{float:right;padding:12px 15px 0 0!important;margin:0!important}
ul.content-box-tabs li{float:left;margin:0;padding:0!important;background-image:none!important}
ul.content-box-tabs li a{color:#333;padding:8px 10px;display:block;margin:1px;border-bottom:0}
ul.content-box-tabs li a:hover{color:#57a000}
ul.content-box-tabs li a.current{background:#fff;border:1px solid #ccc;border-bottom:0;margin:0}
.content-box-content{padding:20px;font-size:13px;border-top:1px solid #ccc}
table{width:100%;border-collapse:collapse}
table thead th{font-weight:bold;font-size:15px;border-bottom:1px solid #ddd}
tbody{border-bottom:1px solid #ddd}
tbody tr{background:#fff}
tbody tr.alt-row{background:#f3f3f3}
table td,table th{padding:10px;line-height:1.3em}
table.sqlInfos{margin-left:auto;margin-right:auto;text-align:left}
table.sqlInfos tbody td.sqlInfosTitle{white-space:nowrap}
table tfoot td .bulk-actions{padding:15px 0 5px 0}
table tfoot td .bulk-actions select{padding:4px;border:1px solid #ccc}
#install-nk-infos{background: #F3F3F3;padding: 10px;text-align: left;font-style:italic;}
#main-content .pagination{text-align:right;padding:20px 0 5px 0;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px}
.pagination a{margin:0 5px 0 0;padding:3px 6px}
.pagination a.number{border:1px solid #ddd}
.pagination a.current{background:#469400 url('../images/bg-button-green.gif') top left repeat-x!important;border-color:#459300!important;color:#fff!important}
.pagination a.current:hover{text-decoration:underline}
.shortcut-button{border:1px solid #ccc;background:#f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;display:block;width:120px;margin:0 0 20px 0}
.shortcut-button span{border:1px solid #fff;display:block;padding:15px 10px 15px 10px;text-align:center;color:#555;font-size:13px;line-height:1.3em}
.shortcut-button span img{margin-bottom:10px}
.shortcut-button:hover{background:#fff}
.shortcut-button span:hover{color:#57a000}
ul.shortcut-buttons-set li{float:left;margin:0 15px 0 0;padding:0!important;background:0}
form label{display:block;padding:0 0 10px;font-weight:bold}
form fieldset legend{font-weight:bold;margin-bottom:10px;padding-top:10px}
form p small{font-size:.75em;color:#777}
form input.text-input,form select,form textarea,form .wysiwyg{padding:6px;font-size:13px;background:#fff url('../images/bg-form-field.gif') top left repeat-x;border:1px solid #d5d5d5;color:#333}
form .small-input{width:25%!important}
form .medium-input{width:50%!important}
form .large-input{width:97.5%!important;font-size:16px!important;padding:8px!important}
form textarea{width:50%!important;font-family:Arial,Helvetica,sans-serif}
form select{padding:4px;background:#fff}
form input[type="checkbox"],form input[type="radio"]{padding:0;background:none;border:0}
.notification{position:relative;margin:0 0 15px 0;padding:0;border:1px solid;background-position:10px 11px!important;background-repeat:no-repeat!important;font-size:13px;width:99.8%}
.attention{background:#fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;border-color:#e6db55;color:#666452}
.information{background:#dbe3ff url('../images/icons/information.png');border-color:#a2b4ee;color:#585b66}
.success{background:#d5ffce url('../images/icons/tick_circle.png');border-color:#9adf8f;color:#556652}
.error{background:#ffcece url('../images/icons/cross_circle.png');border-color:#df8f8f;color:#665252}
.notification div{display:block;font-style:normal;padding:10px 10px 10px 36px;line-height:1.5em}
.notification .close{color:#900;font-size:9px;position:absolute;right:5px;top:5px}
.input-notification{background-position:left 2px;background-repeat:no-repeat;padding:2px 0 2px 22px;background-color:transparent;margin:0 0 0 5px}
#login-wrapper #login-content .notification{border:0;background-color:#141414;color:#fff!important}
body#login{color:#fff;background:#222 url('../images/bg-login.gif')}
#login-wrapper{background:url('../images/bg-login-top.png') top left repeat-x}
#login-wrapper #login-top{width:100%;padding:140px 0 50px 0;text-align:center}
#login-wrapper #login-content{text-align:left;width:300px;margin:0 auto}
#login-wrapper #login-content label{color:#fff;font-weight:normal;font-size:14px;font-family:Helvetica,Arial,sans-serif;float:left;width:70px;padding:0}
#login-wrapper #login-content input{width:200px;float:right;margin:0 0 20px 0;border:0;background:#fff}
#login-wrapper #login-content p{padding:0}
#login-wrapper #login-content p#remember-password{float:right}
#login-wrapper #login-content p#remember-password input{float:none;width:auto;border:0;background:none;margin:0 10px 0 0}
#login-wrapper #login-content p .button{width:auto;margin-top:20px}
#facebox{position:absolute;top:0;left:0;z-index:100;text-align:left}
#facebox .popup{position:relative;border:3px solid rgba(0,0,0,0);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);box-shadow:0 0 18px rgba(0,0,0,0.4)}
#facebox .content{display:table;width:500px;padding:10px;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
#facebox .content>p:first-child{margin-top:0}
#facebox .content>p:last-child{margin-bottom:0}
#facebox .close{position:absolute;top:5px;right:5px;padding:2px;background:#fff}
#facebox .close img{opacity:.3}
#facebox .close:hover img{opacity:1.0}
#facebox .loading{text-align:center}
#facebox .image{text-align:center}
#facebox img{border:0;margin:0}
#facebox_overlay{position:fixed;top:0;left:0;height:100%;width:100%}
.facebox_hide{z-index:-100}
.facebox_overlayBG{background-color:#000;z-index:99}
#messages{display:none}
/* CSS FOR PREVIEW WEBSITE */
#screen{display:none;position:fixed;width:100%;height:100%;background:url('../images/bg.png') repeat;z-index:10000}
#iframe{margin-left:5%;margin-top:5%;width:90%;height:100%}
#iframe_close{display:block;width:66px;height:22px;background:url('../../../images/closelabel.gif') no-repeat;position:absolute;right:3%;bottom:3%;z-index:20000}