/* Games list */
table#gamesList .gName{width:50%;}
table#gamesList .nkListEdit,
table#gamesList .nkListDelete{width:25%;}
table#gamesList td{text-align:center;}

/* Games edit form */
input#addMap{margin-left:10px;}
#mapList ul{margin-left:25px;}