a {
    color : #2980b9;
}

#RL_mainMenu > li:first-child:before {
    background : url('../images/sprite_blue.png') -184px 0 no-repeat;
}

#RL_mainMenu > li > a:hover, .RL_mainMenu_selected {
    background : url('../images/sprite_blue.png') 0 -50px no-repeat, url('../images/sprite_blue.png') repeat-x;
}

.RL_subMenu li a:hover span, .RL_subMenu_selected span {
    background : -webkit-linear-gradient(top, #2980b9, #175b99);
    background : -moz-linear-gradient(top, #2980b9, #175b99);
    background : -ms-linear-gradient(top, #2980b9, #175b99);
    background : -o-linear-gradient(top, #2980b9, #175b99);
    background : linear-gradient(top, #2980b9, #175b99);
    color      : #fff;
}

#RL_navSearch input[type=submit], #RL_navSearch input[type=submit]:active {
    background : url('../images/sprite_blue.png') -258px 0 no-repeat rgba(100, 100, 100, 0.2);
}

#RL_sliderNav a {
    background : url('../images/sprite_blue.png') -265px -32px no-repeat;
}

#RL_sliderNav a:first-child {
    background : url('../images/sprite_blue.png') -232px -32px no-repeat;
}

#RL_blockUnikTop aside h2 {
    background : url('../images/sprite_blue.png') 0 -100px no-repeat;
}

#RL_blockTopMatch figure {
    background : -webkit-linear-gradient(top, #2980b9, #175b99);
    background : -moz-linear-gradient(top, #2980b9, #175b99);
    background : -ms-linear-gradient(top, #2980b9, #175b99);
    background : -o-linear-gradient(top, #2980b9, #175b99);
    background : linear-gradient(top, #2980b9, #175b99);
}

#RL_blockTopMatch > p strong {
    color : #2980b9;
}

#RL_blockTopMatch div p:before {
    background : url('../images/sprite_blue.png') -184px -57px no-repeat;
}

#RL_separatorUnikTop {
    border-top : 1px solid #175b99;
    background : #014079;
}

#RL_blockUnikCenter figure figcaption h3 {
    color : #2980b9;
}

#RL_blockUnikCenter figure figcaption a {
    color      : #014079;
    background : -webkit-linear-gradient(top, #2980b9, #175b99);
    background : -moz-linear-gradient(top, #2980b9, #175b99);
    background : -ms-linear-gradient(top, #2980b9, #175b99);
    background : -o-linear-gradient(top, #2980b9, #175b99);
    background : linear-gradient(top, #2980b9, #175b99);
}

#RL_blockUnikCenter:after {
    background : url('../images/sprite_blue.png') 0 -146px no-repeat;
}

#RL_news article header h2 {
    color : #2980b9;
}

#RL_news article header a:hover {
    border-color : #2980b9;
    color        : #2980b9;
    box-shadow   : 0 1px 6px rgb(48, 89, 163);
}

#RL_gallery figure a:hover:after {
    background : url('../images/sprite_blue.png') no-repeat -389px -35px, -webkit-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -389px -35px, -moz-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -389px -35px, -ms-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -389px -35px, -o-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -389px -35px, linear-gradient(top, #2980b9, #175b99);
}

#RL_blockDownload > div > a {
    background : url('../images/sprite_blue.png') no-repeat -387px -83px, -webkit-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -387px -83px, -moz-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -387px -83px, -ms-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -387px -83px, -o-linear-gradient(top, #2980b9, #175b99);
    background : url('../images/sprite_blue.png') no-repeat -387px -83px, linear-gradient(top, #2980b9, #175b99);
}

#RL_followContent > a {
    color : #2980b9;
}

.RL_blockRight b {
    color : #2980b9;
}

.RL_matchesDraw:after {
    background : #2980b9;
}

.RL_roster figcaption {
    background : -webkit-linear-gradient(top, rgba(41, 128, 185, 0.80), rgba(23, 91, 153, 0.80));
    background : -moz-linear-gradient(top, rgba(41, 128, 185, 0.80), rgba(23, 91, 153, 0.80));
    background : -ms-linear-gradient(top, rgba(41, 128, 185, 0.80), rgba(23, 91, 153, 0.80));
    background : -o-linear-gradient(top, rgba(41, 128, 185, 0.80), rgba(23, 91, 153, 0.80));
    background : linear-gradient(top, rgba(41, 128, 185, 0.80), rgba(23, 91, 153, 0.80));
    box-shadow : 0 1px 1px 1px rgba(41, 128, 185, 0.50) inset, 0 0 0 1px rgba(23, 91, 153, 0.60) inset;
    color      : #fff;
}

.RL_infosFooter p span {
    color : #2980b9;
}

#RL_footerContentLeft nav h4 {
    color : #2980b9;
}

#RL_footerContentLeft nav ul li a:hover {
    color : #2980b9;
}

#RL_footerSponsors > a {
    background : -webkit-linear-gradient(top, #2980b9, #175b99);
    background : -moz-linear-gradient(top, #2980b9, #175b99);
    background : -ms-linear-gradient(top, #2980b9, #175b99);
    background : -o-linear-gradient(top, #2980b9, #175b99);
    background : linear-gradient(top, #2980b9, #175b99);
}

#RL_separatorBottomFooter {
    background : #19609D;
}

.RL_infosFooter a:hover {
    color : #2980b9;
}

.RL_button, a[title="Lire la suite..."], input[type="submit"], input[type="button"] {
    color : #014079;
}

.RL_button, a[title="Lire la suite..."], input[type="submit"], input[type="button"], .RL_button:hover, a[title="Lire la suite..."]:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background : -webkit-linear-gradient(top, #2980b9, #175b99);
    background : -moz-linear-gradient(top, #2980b9, #175b99);
    background : -ms-linear-gradient(top, #2980b9, #175b99);
    background : -o-linear-gradient(top, #2980b9, #175b99);
    background : linear-gradient(top, #2980b9, #175b99);
}

.RL_labelIcons {
    background : -webkit-linear-gradient(top, #2980b9, #175b99);
    background : -moz-linear-gradient(top, #2980b9, #175b99);
    background : -ms-linear-gradient(top, #2980b9, #175b99);
    background : -o-linear-gradient(top, #2980b9, #175b99);
    background : linear-gradient(top, #2980b9, #175b99);
    color      : #fff;
}

#RL_userMP:hover {
    color : #2980b9;
}

.RL_matchesWin:after {
    background : url('../images/sprite_blue.png') -441px 0 no-repeat;
}

.RL_matchesLose:after {
    background : url('../images/sprite_blue.png') -441px -9px no-repeat;
}

.RL_lastPost > a > div {
    background : url('../images/sprite_blue.png') -421px 0 no-repeat;
}

.RL_lastPost > a > div:last-child {
    background : url('../images/sprite_blue.png') -421px -17px no-repeat;
}

#RL_signature {
    background : url('../images/sprite_blue.png') -289px 0 no-repeat;
}

#RL_footer h3 {
    background : url('../images/sprite_blue.png') 0 -100px no-repeat;
}

#RL_footerSponsors > a:first-of-type:after {
    background : url('../images/sprite_blue.png') -441px -19px no-repeat;
}

#RL_footerSponsors > a:last-of-type:after {
    background : url('../images/sprite_blue.png') -450px -19px no-repeat;
}

#RL_backToTop {
    background : url('../images/sprite_blue.png') 0 -164px no-repeat;
}

#RL_logoFooter {
    background : url('../images/sprite_blue.png') -356px 1px no-repeat;
}

.nkButton:hover {
    background   : #2980b9;
    border-color : #276ba9;
}