@font-face {
    font-family : 'Icons';
    src         : url('../fonts/icons.eot');
    src         : url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
    font-weight : normal;
    font-style  : normal;
}

#RL_formWrapper {
    background : rgba(0, 0, 0, .5);
    position   : absolute;
    width      : 100%;
    height     : 100%;
    z-index    : 1000;
    display    : none;
    top        : 0;
    left       : 0;
}

#RL_formContainer {
    background    : #fff;
    margin        : 150px auto 0;
    border-radius : 5px;
    padding       : 15px 10px;
    box-shadow    : 5px 5px 5px rgba(0, 0, 0, 0.2);
    display       : none;
    z-index       : 1001;
    width         : 500px;
    position      : absolute;
    top           : 0;
    max-height    : 600px;
    overflow      : auto;
}

.RL_formContent > div {
    margin : 20px 0;
}

.RL_formContent, .RL_alertForm {
    display : none;
}

#RL_formContainer label {
    display     : block;
    font-weight : bold;
    padding     : 0 0 10px;
}

.RL_inline {
    display      : inline-block !important;
    margin-right : 10px;
}

.RL_block {
    display       : block;
}

.RL_input, .RL_select {
    background    : #fff url("../../../modules/Admin/images/bg-form-field.gif") repeat-x scroll left top;
    border        : 1px solid #d5d5d5;
    color         : #333;
    font-size     : 13px;
    padding       : 6px;
    border-radius : 4px;
    width         : 50% !important;
}

.RL_small{
    width: 25% !important;
}

.RL_socialInput {
    width : 90% !important;
}

.RL_socialLabel {
    position     : relative;
    padding-left : 35px !important;
}

.RL_socialLabel:before {
    content     : "";
    font-family : Icons;
    font-size   : 24px;
    left        : 4px;
    position    : absolute;
    top         : -8px;
}

.RL_Twitter:before {
    content : "\ea91";
}

.RL_Facebook:before {
    content     : "\ea8c";
    margin-left : -3px;
}

.RL_Google:before {
    content : "\ea88";
}

.RL_Twitch:before {
    content : "\ea9b";
}

.RL_Steam:before {
    content : "\eaad";
}

.RL_Youtube:before {
    content : "\ea99";
}

.RL_inputFile {
    cursor   : pointer;
    height   : 30px;
    opacity  : 0;
    position : absolute;
    width    : 100px;
    margin-top: 10px;
}

.RL_buttonFile {
    height : 28px;
    width  : 100px;
    margin-top: 10px;
}

form > table > tbody > tr > td{
    vertical-align: top;
}

#RL_selectColor > option{
    background:#fff !important;
    color:#000 !important;
}

.RL_select_blue{
    background:#2980b9;
    color:#fff;
}

.RL_select_orange{
    background:#fab317;
    color:#fff;
}

.RL_select_green{
    background:#27ae60;
    color:#fff;
}

.RL_select_red{
    background:#c0392b;
    color:#fff;
}

.RL_select_purple{
    background:#8e44ad;
    color:#fff;
}

.RL_select_gold{
    background:#CFA634;
    color:#fff;
}

#RL_formSponsors > table > tbody > tr > td:first-child{
    width:15%;
    vertical-align: middle;
    font-weight: bold;
}

#RL_formSponsors label{
    display: inline-block;
    width: 100px;
}

#RL_sponsor{
    display : none;
}