a {
    color : #8e44ad;
}

#RL_mainMenu > li:first-child:before {
    background : url('../images/sprite_purple.png') -184px 0 no-repeat;
}

#RL_mainMenu > li > a:hover, .RL_mainMenu_selected {
    background : url('../images/sprite_purple.png') 0 -50px no-repeat, url('../images/sprite_purple.png') repeat-x;
}

.RL_subMenu li:hover, .RL_subMenu li:hover a span, .RL_subMenu_selected span {
    background : -webkit-linear-gradient(top, #8e44ad, #644183);
    background : -moz-linear-gradient(top, #8e44ad, #644183);
    background : -ms-linear-gradient(top, #8e44ad, #644183);
    background : -o-linear-gradient(top, #8e44ad, #644183);
    background : linear-gradient(top, #8e44ad, #644183);
    color      : #fff;
}

#RL_navSearch input[type=submit], #RL_navSearch input[type=submit]:active {
    background : url('../images/sprite_purple.png') -258px 0 no-repeat rgba(100, 100, 100, 0.2);
}

#RL_sliderNav a {
    background : url('../images/sprite_purple.png') -265px -32px no-repeat;
}

#RL_sliderNav a:first-child {
    background : url('../images/sprite_purple.png') -232px -32px no-repeat;
}

#RL_blockUnikTop aside h2 {
    background : url('../images/sprite_purple.png') 0 -100px no-repeat;
}

#RL_blockTopMatch figure {
    background : -webkit-linear-gradient(top, #8e44ad, #644183);
    background : -moz-linear-gradient(top, #8e44ad, #644183);
    background : -ms-linear-gradient(top, #8e44ad, #644183);
    background : -o-linear-gradient(top, #8e44ad, #644183);
    background : linear-gradient(top, #8e44ad, #644183);
}

#RL_blockTopMatch > p strong {
    color : #8e44ad;
}

#RL_blockTopMatch div p:before {
    background : url('../images/sprite_purple.png') -184px -57px no-repeat;
}

#RL_separatorUnikTop {
    border-top : 1px solid #644183;
    background : #611780;
}

#RL_blockUnikCenter figure figcaption h3 {
    color : #8e44ad;
}

#RL_blockUnikCenter figure figcaption a {
    color      : #611780;
    background : -webkit-linear-gradient(top, #8e44ad, #644183);
    background : -moz-linear-gradient(top, #8e44ad, #644183);
    background : -ms-linear-gradient(top, #8e44ad, #644183);
    background : -o-linear-gradient(top, #8e44ad, #644183);
    background : linear-gradient(top, #8e44ad, #644183);
}

#RL_blockUnikCenter:after {
    background : url('../images/sprite_purple.png') 0 -146px no-repeat;
}

#RL_news article header h2 {
    color : #8e44ad;
}

#RL_news article header a:hover {
    border-color : #8e44ad;
    color        : #8e44ad;
    box-shadow   : 0 1px 6px rgb(144, 54, 154);
}

#RL_gallery figure a:hover:after {
    background : url('../images/sprite_purple.png') no-repeat -389px -35px, -webkit-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -389px -35px, -moz-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -389px -35px, -ms-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -389px -35px, -o-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -389px -35px, linear-gradient(top, #8e44ad, #644183);
}

#RL_blockDownload > div > a {
    background : url('../images/sprite_purple.png') no-repeat -387px -83px, -webkit-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -387px -83px, -moz-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -387px -83px, -ms-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -387px -83px, -o-linear-gradient(top, #8e44ad, #644183);
    background : url('../images/sprite_purple.png') no-repeat -387px -83px, linear-gradient(top, #8e44ad, #644183);
}

#RL_followContent > a {
    color : #8e44ad;
}

.RL_blockRight b {
    color : #8e44ad;
}

.RL_matchesDraw:after {
    background : #8e44ad;
}

.RL_roster figcaption {
    background : -webkit-linear-gradient(top, rgba(142, 68, 173, 0.80), rgba(100, 65, 131, 0.80));
    background : -moz-linear-gradient(top, rgba(142, 68, 173, 0.80), rgba(100, 65, 131, 0.80));
    background : -ms-linear-gradient(top, rgba(142, 68, 173, 0.80), rgba(100, 65, 131, 0.80));
    background : -o-linear-gradient(top, rgba(142, 68, 173, 0.80), rgba(100, 65, 131, 0.80));
    background : linear-gradient(top, rgba(142, 68, 173, 0.80), rgba(100, 65, 131, 0.80));
    box-shadow : 0 1px 1px 1px rgba(109, 39, 125, 0.50) inset, 0 0 0 1px rgba(72, 36, 99, 0.60) inset;
    color      : #fff;
}

.RL_infosFooter p span {
    color : #8e44ad;
}

#RL_footerContentLeft nav h4 {
    color : #8e44ad;
}

#RL_footerContentLeft nav ul li a:hover {
    color : #8e44ad;
}

#RL_footerSponsors > a {
    background : -webkit-linear-gradient(top, #8e44ad, #644183);
    background : -moz-linear-gradient(top, #8e44ad, #644183);
    background : -ms-linear-gradient(top, #8e44ad, #644183);
    background : -o-linear-gradient(top, #8e44ad, #644183);
    background : linear-gradient(top, #8e44ad, #644183);
}

#RL_separatorBottomFooter {
    background : #6A4189;
}

.RL_infosFooter a:hover {
    color : #8e44ad;
}

.RL_button, a[title="Lire la suite..."], input[type="submit"], input[type="button"] {
    color : #611780;
}

.RL_button, a[title="Lire la suite..."], input[type="submit"], input[type="button"], .RL_button:hover, a[title="Lire la suite..."]:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background : -webkit-linear-gradient(top, #8e44ad, #644183);
    background : -moz-linear-gradient(top, #8e44ad, #644183);
    background : -ms-linear-gradient(top, #8e44ad, #644183);
    background : -o-linear-gradient(top, #8e44ad, #644183);
    background : linear-gradient(top, #8e44ad, #644183);
}

.RL_labelIcons {
    background : -webkit-linear-gradient(top, #8e44ad, #644183);
    background : -moz-linear-gradient(top, #8e44ad, #644183);
    background : -ms-linear-gradient(top, #8e44ad, #644183);
    background : -o-linear-gradient(top, #8e44ad, #644183);
    background : linear-gradient(top, #8e44ad, #644183);
    color      : #fff;
}

#RL_userMP:hover {
    color : #8e44ad;
}

.RL_matchesWin:after {
    background : url('../images/sprite_purple.png') -441px 0 no-repeat;
}

.RL_matchesLose:after {
    background : url('../images/sprite_purple.png') -441px -9px no-repeat;
}

.RL_lastPost > a > div {
    background : url('../images/sprite_purple.png') -421px 0 no-repeat;
}

.RL_lastPost > a > div:last-child {
    background : url('../images/sprite_purple.png') -421px -17px no-repeat;
}

#RL_signature {
    background : url('../images/sprite_purple.png') -289px 0 no-repeat;
}

#RL_footer h3 {
    background : url('../images/sprite_purple.png') 0 -100px no-repeat;
}

#RL_footerSponsors > a:first-of-type:after {
    background : url('../images/sprite_purple.png') -441px -19px no-repeat;
}

#RL_footerSponsors > a:last-of-type:after {
    background : url('../images/sprite_purple.png') -450px -19px no-repeat;
}

#RL_backToTop {
    background : url('../images/sprite_purple.png') 0 -164px no-repeat;
}

#RL_logoFooter {
    background : url('../images/sprite_purple.png') -356px 1px no-repeat;
}

.nkButton:hover {
    background   : #8e44ad;
    border-color : #5e147d;
}

.RL_blockUnikCenterFull{
    background: #8e44ad;
}