a {
    color : #f39c3b;
}

#RL_mainMenu > li:first-child:before {
    background : url('../images/sprite_orange.png') -184px 0 no-repeat;
}

#RL_mainMenu > li > a:hover, .RL_mainMenu_selected {
    background : url('../images/sprite_orange.png') 0 -50px no-repeat, url('../images/sprite_orange.png') repeat-x;
}

.RL_subMenu li:hover, .RL_subMenu li:hover a span, .RL_subMenu_selected span {
    background : -webkit-linear-gradient(top, #fab317, #f2810b);
    background : -moz-linear-gradient(top, #fab317, #f2810b);
    background : -ms-linear-gradient(top, #fab317, #f2810b);
    background : -o-linear-gradient(top, #fab317, #f2810b);
    background : linear-gradient(top, #fab317, #f2810b);
    color      : #fff;
}

#RL_navSearch input[type=submit], #RL_navSearch input[type=submit]:active {
    background : url('../images/sprite_orange.png') -258px 0 no-repeat rgba(100, 100, 100, 0.2);
}

#RL_sliderNav a {
    background : url('../images/sprite_orange.png') -265px -32px no-repeat;
}

#RL_sliderNav a:first-child {
    background : url('../images/sprite_orange.png') -232px -32px no-repeat;
}

#RL_blockUnikTop aside h2 {
    background : url('../images/sprite_orange.png') 0 -100px no-repeat;
}

#RL_blockTopMatch figure {
    background : -webkit-linear-gradient(top, #fab317, #f2810b);
    background : -moz-linear-gradient(top, #fab317, #f2810b);
    background : -ms-linear-gradient(top, #fab317, #f2810b);
    background : -o-linear-gradient(top, #fab317, #f2810b);
    background : linear-gradient(top, #fab317, #f2810b);
}

#RL_blockTopMatch > p strong {
    color : #fab317;
}

#RL_blockTopMatch div p:before {
    background : url('../images/sprite_orange.png') -184px -57px no-repeat;
}

#RL_separatorUnikTop {
    border-top : 1px solid #f8b20c;
    background : #f57806;
}

#RL_blockUnikCenter figure figcaption h3 {
    color : #d6780f;
}

#RL_blockUnikCenter figure figcaption a {
    color      : #ef6707;
    background : -webkit-linear-gradient(top, #fab317, #f2810b);
    background : -moz-linear-gradient(top, #fab317, #f2810b);
    background : -ms-linear-gradient(top, #fab317, #f2810b);
    background : -o-linear-gradient(top, #fab317, #f2810b);
    background : linear-gradient(top, #fab317, #f2810b);
}

#RL_blockUnikCenter:after {
    background : url('../images/sprite_orange.png') 0 -146px no-repeat;
}

#RL_news article header h2 {
    color : #f39c3b;
}

#RL_news article header a:hover {
    border-color : #f39c3b;
    color        : #f39c3b;
    box-shadow   : 0 1px 6px rgba(243, 156, 59, 1);
}

#RL_gallery figure a:hover:after {
    background : url('../images/sprite_orange.png') no-repeat -389px -35px, -webkit-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -389px -35px, -moz-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -389px -35px, -ms-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -389px -35px, -o-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -389px -35px, linear-gradient(top, #fab317, #f2810b);
}

#RL_blockDownload > div > a {
    background : url('../images/sprite_orange.png') no-repeat -387px -83px, -webkit-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -387px -83px, -moz-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -387px -83px, -ms-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -387px -83px, -o-linear-gradient(top, #fab317, #f2810b);
    background : url('../images/sprite_orange.png') no-repeat -387px -83px, linear-gradient(top, #fab317, #f2810b);
}

#RL_followContent > a {
    color : #F39C3B;
}

.RL_blockRight b {
    color : #F39C3B;
}

.RL_matchesDraw:after {
    background : #f7a015;
}

.RL_roster figcaption {
    background : -webkit-linear-gradient(top, rgba(250, 179, 23, 0.8), rgba(242, 128, 1, 0.8));
    background : -moz-linear-gradient(top, rgba(250, 179, 23, 0.8), rgba(242, 128, 1, 0.8));
    background : -ms-linear-gradient(top, rgba(250, 179, 23, 0.8), rgba(242, 128, 1, 0.8));
    background : -o-linear-gradient(top, rgba(250, 179, 23, 0.8), rgba(242, 128, 1, 0.8));
    background : linear-gradient(top, rgba(250, 179, 23, 0.8), rgba(242, 128, 1, 0.8));
    box-shadow : 0 1px 1px 1px rgba(239, 223, 84, 0.5) inset, 0 0 0 1px rgba(170, 59, 2, 0.6) inset;
    color      : #fff;
}

.RL_infosFooter p span {
    color : #f39c3b;
}

#RL_footerContentLeft nav h4 {
    color : #f39c3b;
}

#RL_footerContentLeft nav ul li a:hover {
    color : #f39c3b;
}

#RL_footerSponsors > a {
    background : -webkit-linear-gradient(top, #fab317, #f2810b);
    background : -moz-linear-gradient(top, #fab317, #f2810b);
    background : -ms-linear-gradient(top, #fab317, #f2810b);
    background : -o-linear-gradient(top, #fab317, #f2810b);
    background : linear-gradient(top, #fab317, #f2810b);
}

#RL_separatorBottomFooter {
    background : #f3870c;
}

.RL_infosFooter a:hover {
    color : #f39c3b;
}

.RL_button, a[title="Lire la suite..."], input[type="submit"], input[type="button"] {
    color : #ef6707;
}

.RL_button, a[title="Lire la suite..."], input[type="submit"], input[type="button"], .RL_button:hover, a[title="Lire la suite..."]:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background : -webkit-linear-gradient(top, #fab317, #f2810b);
    background : -moz-linear-gradient(top, #fab317, #f2810b);
    background : -ms-linear-gradient(top, #fab317, #f2810b);
    background : -o-linear-gradient(top, #fab317, #f2810b);
    background : linear-gradient(top, #fab317, #f2810b);
}

.RL_labelIcons {
    background : -webkit-linear-gradient(top, #fab317, #f2810b);
    background : -moz-linear-gradient(top, #fab317, #f2810b);
    background : -ms-linear-gradient(top, #fab317, #f2810b);
    background : -o-linear-gradient(top, #fab317, #f2810b);
    background : linear-gradient(top, #fab317, #f2810b);
    color      : #fff;
}

#RL_userMP:hover {
    color : #F39C3B;
}

.RL_matchesWin:after {
    background : url('../images/sprite_orange.png') -441px 0 no-repeat;
}

.RL_matchesLose:after {
    background : url('../images/sprite_orange.png') -441px -9px no-repeat;
}

.RL_lastPost > a > div {
    background : url('../images/sprite_orange.png') -421px 0 no-repeat;
}

.RL_lastPost > a > div:last-child {
    background : url('../images/sprite_orange.png') -421px -17px no-repeat;
}

#RL_signature {
    background : url('../images/sprite_orange.png') -289px 0 no-repeat;
}

#RL_footer h3 {
    background : url('../images/sprite_orange.png') 0 -100px no-repeat;
}

#RL_footerSponsors > a:first-of-type:after {
    background : url('../images/sprite_orange.png') -441px -19px no-repeat;
}

#RL_footerSponsors > a:last-of-type:after {
    background : url('../images/sprite_orange.png') -450px -19px no-repeat;
}

#RL_backToTop {
    background : url('../images/sprite_orange.png') 0 -164px no-repeat;
}

#RL_logoFooter {
    background : url('../images/sprite_orange.png') -356px 1px no-repeat;
}

.nkButton:hover {
    background   : #fab317;
    border-color : #e39c1e;
}

.RL_blockUnikCenterFull{
    background: #f39c3b;
}