/*.nkForm input:hover{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;* /
}
.nkForm input:focus{
    border: 1px solid #0077c9;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;* /
    outline: medium none;
    }*/

.error-field{
    box-shadow: 1px 1px 6px #FF4040;
}
.warning-field{
    box-shadow: 1px 1px 6px #FFC587;
}

div.formError-contenair{
    color:#A94442;
    margin:0;
    padding: 2px 2px;
}
